*{
    margin: 0;
    padding: 0;

}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)25%,rgba(0,0,0,0.5)25%,) url(globe.jpg);
    background-image: url(globe.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.navbar{
    width: 1000px;
    height: 80px;
    margin: auto;
}

.icon{
    width: 280px;
    float: left;
    height: 25px;
}



.menu{
    width: 600px;
    float: left;
    height: 90px;
}

ul{
    float: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 65px;
    margin-top: 25px;
    font-size: 15px;
}

ul li a{
    text-decoration: wavy;
    color: Black;
    font-size: 20px;
    text-align: right;
    font-family: Arial;
    font-weight: bold;
    float: center;
   
}

ul li a:hover{
    color: orange;
}

.content{
    width: 1000px;
    height: auto;
    margin: auto;
    color: blue-nevy;
    position: relative;
    font-family: 'calibri';
    padding-top: 160px;
    font-size: large;
}

.content .par{
    padding-left: 25px;
    padding-bottom: 25px;
    font-family: calibri;
    letter-spacing: 1.2px;
    line-height: 30px;
    font-size: 19px;
}

.content h1{
    font-family: 'calibri';
    font-size: 31px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}



.WEBGIS{
background-image: url(globe.jpg);
background-position: left;
background-repeat: no repeat;
background-size:30%;
}